---
import { site } from '../../config/site';
---

<div id="cinematic-loader" aria-hidden="true">
  <p class="loader-wordmark font-display">
    <span>{site.name}</span>
  </p>
  <div class="loader-track">
    <span class="loader-bar"></span>
  </div>
  <p class="loader-caption">Loading</p>
</div>
