---
import { getContributionGraphUrl } from '../lib/github';

const graphUrl = getContributionGraphUrl();
---

<div class="overflow-x-auto rounded-xl border border-neutral-800 bg-neutral-900/50 p-4">
  <img
    src={graphUrl}
    alt="GitHub contribution graph"
    class="mx-auto max-w-full"
    loading="lazy"
  />
</div>
