---
import { getContributionGraphUrl } from '../lib/github';

const graphUrl = getContributionGraphUrl();
---

<div class="overflow-x-auto border border-[#1a1a1a] bg-[#0a0a0a] p-4">
  <img
    src={graphUrl}
    alt="GitHub contribution graph"
    class="mx-auto max-w-full"
    loading="lazy"
  />
</div>
